<mat-toolbar>
  <span>Developer Store</span>
  <span class="example-spacer"></span>
  <button mat-mini-fab>
    <mat-icon>shopping_cart_checkout</mat-icon>
  </button>
  <button mat-button>
    sign in
  </button>
  <button mat-flat-button>
    sign on
  </button>
</mat-toolbar>

<h1 id="tableLabel">Products</h1>


<mat-card appearance="outlined" *ngFor="let Product of Products">
  <mat-card-header>
    <h1>{{Product.title}}</h1>
  </mat-card-header>
  <mat-card-content>
    <p>{{ Product.image }}</p>
    <p>{{ Product.price }}</p>
    <p>{{ Product.description }}</p>
    <p>{{ Product.rating.rate }}</p>
  </mat-card-content>
</mat-card>

